<section>
	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card">
					<img src="./" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Lille : Quand le street-art s'invite au musée</h5>
						<p class="card-text">Depuis le 10 novembre, une exposition de street-art a investi le musée de l’hospice Comtesse dans le Vieux-Lille.
							Réalisée par le collectif Renart, association nordiste d’une vingtaine d’artistes de rue, l’expo se veut un lien entre le passé et le présent.
							Avec ses œuvres à la fois sonores, visuelles et ludiques, Au temps des Renarts est une façon de rendre l’art de rue accessible à tous</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
		</div>

	</div>


</section>
