<section class="bg-2 py-5">
	<div class="container py-5">
		<div class="row row-cols-1 row-cols-md-3 mt-5 ">
			<div class="col">
				<div class="card">
					<img src="img/fresque-murale-lille.jpg" class="card-img-top" alt="...">
					<div class="card-body-home">
						<h5 class="card-title">Lille : Quand le street-art s'invite au musée</h5>
						<p class="card-text">Depuis le 10 novembre, une exposition de street-art a investi le musée de
							l’hospice Comtesse dans le Vieux-Lille.
							Réalisée par le collectif Renart, association nordiste d’une vingtaine d’artistes de rue,
							l’expo se veut un lien entre le passé et le présent.
							Avec ses œuvres à la fois sonores, visuelles et ludiques, Au temps des Renarts est une façon
							de rendre l’art de rue accessible à tous</p>
					</div>
					<div class="box-button-home">
						<button type="button" class="btn-about-home text-center">Lire plus</button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="img/art-fresques-lyon.jpg" class="card-img-top" alt="...">
					<div class="card-body-home">
						<h5 class="card-title">Lyon : Le graff s'expose en version XXL</h5>
						<p class="card-text">A partir de samedi, Lyon accueille la troisième édition du Zoo Art Show,
							exposition à laquelle plus de 120 graffeurs participent.
							Plus d’une centaine de fresques seront présentées sur 4.000 mètres carrés jusqu’au 10
							décembre.
							Des performances en live de danseurs, DJ, chanteurs, prévues initialement en soirées, sont
							maintenues mais seront décalées à un autre moment de la journée.</p>
					</div>
					<div class="box-button-home">
						<button type="button" class="btn-about-home text-center">Lire plus</button>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<img src="img/street-art-rennes.jpg" class="card-img-top" alt="...">
					<div class="card-body-home">
						<h5 class="card-title">La rue est devenue une vitrine ». La Bretagne, une vraie terre de street
							art
						</h5>
						<p class="card-text">Un livre sur le street art en Bretagne vient de paraître et fait la part
							belle
							aux artistes locaux.
							Le street-art est aujourd’hui devenu une vitrine du talent des artistes de rue, du tag au
							graffiti.
							De nombreux artistes vivent aujourd’hui de leur passion.</p>
					</div>
					<div class="box-button-home">
						<button type="button" class="btn-about-home text-center">Lire plus</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


</section>