<section class="bg-1">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-lg-6 col-md-6 text-center"><button type="button" class="btn-1"><span>A propos</span></button></div>
            <div class="col-lg-6 col-md-6">
                <div class="box-title-home text-center">
                    <h1 class="text-capitalize mb-4 titleHome ">Bienvenue sur GRAFF<span>ITI</span></h1>
                    <h3 class="pargraph-home mb-5">Le graffiti l'art de la culture hip-hop</h3>   
                </div>
            </div>
        </div>
</section>