<section class="bg-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-title-home text-center">
                    <h1 class="titleHome text-capitalize mb-4">Bienvenu sur GRAFF<span>ITI</span></h1>
                    <P class="pargraph-home mb-3">Le graffiti l'art de la culture hip-hop</P>
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
            </div>
    </div>
</section>
