<section class="bg-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-title-home text-center">
                    <h1 class="text-capitalize mb-4 titleHome ">Bienvenue sur GRAFF<span>ITI</span></h1>
                    <h2 class="pargraph-home mb-5">Le graffiti l'art de la culture hip-hop</h2>
                        <button type="button" class="btn">A propos<i class="fas fa-arrow-right"></i></button>          
                </div>
            </div>
        </div>
</section>