<footer class="bg-3">
    <div class="container">
        <div class="boxFooter">
            <div class="row">
                <div class="col-lg-4  col-md-6 col-sm-6 text-center">
                    <div class="infoFooter">
                        <h2 class="titleFooter">Information</h2>
                        <p class="paragraphFooter">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                            in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                    <h2 class="titleFooter">Liens</h2>
                    <ul class="barFooter">
                        <li class="itemFooter p-3">
                            <a class="linkFooter" href="#">Menu</a>
                        </li>
                        <li class="itemFooter p-3">
                            <a class="linkFooter" href="#">Galerie</a>
                        </li>
                        <li class="itemFooter p-3">
                            <a class="linkFooter" href="#">Artistes</a>
                        </li>
                        <li>
                            <a class="linkFooter p-3" href="#">A propos</a>
                        </li>
                        <li class="itemFooter p-3">
                            <a class="linkFooter" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6  text-center">
                    <h2 class="titleFooter">RGPD</h2>
                    <ul class="barFooter">
                        <li class="itemFooter  p-3">
                            <a class="linkFooter" href="#">Mentions legales</a>
                        </li>
                        <li class="itemFooter  p-3">
                            <a class="linkFooter" href="#">Politique de confidentialité</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6  text-center">
                    <h2 class="titleFooterLogo">Graff<span>iti</span></h2>
                    <ul class="barFooter">
                        <li class="itemFooter  p-3">
                            <a class="linkFooter" href="mailto:https://guillaume-bisson.fr/">guillaume-bisson.fr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright  ms-5 pt-5">
            <div class="row">
                <div class="col-lg-6">
                    <P> © Copyright 2021. Designed by BISSON Guillaume</P>
                </div>
                <div class="col-lg-6 text-center">
                  <a href="#"><img src="/img/logo-in.png" class="logoFooter" alt="" width="34" height="34"></a>
                  <a href="#"><img src="/img/github.png" class="logoFooter ms-3" alt="" width="34" height="34"></a>
                </div>
            </div>
        </div>  
    </div> 

      
             
      
   
</footer>