<div class="loader-container">
	<div class="loader-inner">	
			<h2 id="titleLoader"><span class="colorParagraphLoader">gr</span>affi<span class="colorParagraphLoader">ti</span></h2>
	</div>
</div>
<section class="bg-1"> 
<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand text-end" href="#">graff<span>iti</span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Actualités</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Réalisations</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown"   aria-expanded="false">
						Portfolio
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">Catégorie 1</a></li>
						<li><a class="dropdown-item" href="#">Catégorie 2</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link">A propos</a>
				<li class="nav-item">
					<a class="nav-link">Contact</a>
				</li>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- WELCOME  ET _welcom.scss -->

<div class="title-nav-home">
	<div class="container">
        <div class="row  align-items-center">
            <div class="col-lg-6 col-md-6 text-center"><button type="button" class="btn-1"><span>A propos</span></button></div>
            <div class="col-lg-6 col-md-6">
                <div class="box-title-home text-center">
                    <h1 class="text-capitalize mb-4 titleHome ">Bienvenue sur GRAFF<span>ITI</span></h1>
                    <h3 class="pargraph-home mb-5">Le graffiti l'art de la culture hip-hop</h3>   
                </div>
            </div>
        </div>

</div>
   
</section>