.bg-1 {

    display: flex;
    align-items: center;
    background-image: url("/assets/styles/images/découverte-street-art-1000x600.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
   

}


.bg-3 {
    display: flex;
    align-items: center;
    background-image: url("/assets/styles/images/graff.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



