$primary-color: #fff;
$second-color: rgb(247, 87, 87);
$third-color: #f5f8f9;
$secondary-color: #f5f8f9;
$event-color: #c54041;
$law-color: #b99769;
$black: #242424;
$border-color:#dedede;
$primary-font:'Sedgwick Ave', cursive;
$secondary-font:'roboto', sans-serif;
$extra-font:'Hind', serif;
