$primary-color: #fff;
$second-color: #f75757;
$third-color: #f5f8f9;
$event-color: #ff0025;
$law-color: #b99769;
$black: #000;
$border-color:#dedede;
$primary-font:'Sedgwick Ave', cursive;
$secondary-font:'roboto', sans-serif;
$extra-font:'Hind', serif;
$transparent:transparent;
