.title-about-home {
  // about.js
  opacity: 0;
  transform: translateX(-200px);
  transition: 2s ease-out;
  
}

.card {
  opacity: 0;
  transform: translateX(400px);
  transition: 2s ease-out;
  position: inherit;
}

.card-text:last-child {
  margin-bottom: 0;
  color: black;
  text-align: justify;
  line-height: 1.5em;
  padding: 12px;
}

.card-title {
  margin-bottom: 0.5rem;
  color: black !important;
  text-align: center;
  padding: 20px 10px 20px 10px;
}

.box-button-home {
  padding: 10px 5px 10px 5px;
}

.btn-about-home {
  background: $black !important;
  border-color: transparent !important;
  color: $event-color !important;
  display: inline-flex;
  font-size: 1.2rem !important;
  font-weight: 700;
  overflow: hidden;
  width: 29%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  transition: 0.5s ease-out;
  cursor: pointer;
  // position: relative;

  span {
    color: $event-color !important;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  span::after {
    content: "\2192";
    position: absolute;
    top: 0;
    opacity: 0;
    right: 9;
  }

  span:hover {
    padding-right: 26px;
    color: $primary-color !important;

    &:after {
      opacity: 1;
      right: 0;
    }
  }
}

.card-body-home {
  time {
    color: black;
    padding: 5px 0 5px 10px;
  }
}
