.card-text:last-child {

    margin-bottom: 0;
    color: black;
    text-align: justify;
    line-height: 1.5em;
    padding: 29px;
}

.card-title {

    margin-bottom: 0.5rem;
    color: black !important;
    text-align: center;
    padding: 20px 10px 20px 10px;

}

.box-button-home {

    padding: 10px 5px 10px 5px;
}

.btn-about-home {

    background: #242424!important;
    border-color: transparent!important;
    color: #c54041!important;
    display: inline-flex;
    font-size: 1.2rem!important;
    font-weight: 700;
    overflow: hidden;
    width: 29%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    
}