.boxFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 41em;
}

.barFooter {
  list-style: none;
  padding: 0;
  cursor: pointer;
  position: relative;

  .linkFooter {
    color: $third-color !important;
    text-decoration: none !important;

    span {
      color: $primary-color !important;
      display: inline-block;
      position: relative;
    
    }

    span::before {
      content: "\2192";
      position: absolute;
      opacity: 0;
      top: 0;
      left: -23px;
      transform: translateX(-1.5em);
      transition: 0.5s !important; 
    
    }

    span:hover {
      border-bottom: 1px solid $primary-color;
      

      &::before {
        opacity: 1;
        left: -20px;
      }
    }
  }
}

.paragraphFooter {
  text-align: justify;
}

.logoFooter {
  height: 34px;
  width: 34px;
}

.paragraph-copy {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
