.boxFooter {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 41em;

}

.barFooter {
    list-style: none;
    padding: 0;

    .linkFooter {

        text-decoration: none !important;
    }
}

.linkFooter {

    color: $third-color !important;
}


.paragraphFooter {

    line-height: normal;
    text-align: justify;
    // padding: 21px 29px 0px 37px;
}

.logoFooter {

    height: 34px;
    width: 34px;
}

.paragraph-copy {

    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}