body {
  color:$primary-color;
  font-family: $extra-font;
  font-size: 20px;
  line-height: 1.5;

}

//LE LOADER

.loader-container {

  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  z-index: 999;
  // transition:  visibility 1s ease-in-out;

 

  .loader-inner {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 

    #titleLoader {
      font-size: 3em;
      font-weight: 700;
      text-transform: uppercase; 
      font-family: $extra-font;
      transform: scale(1) rotate(0deg);
      animation: loading 4s linear infinite;


        .colorParagraphLoader {

          color: $primary-color!important;
        }

    }
  }
}

.hidden {

  opacity: 1; 
  // visibility: hidden;
 }

@keyframes loading {

50% {

  transform:  scale(.5) rotate(360deg);
 
}
100% {

  transform:  scale(1) rotate(360deg);
}

}


//LA NAV

.navbar {
position: fixed;
width: 100%;
top: 0;
left: 0;
right: 0;
transition: 0.5s ease-out;
z-index: 2;



  .navbar-brand {
    color: $primary-color;
    width: 15%;
    font-size: 3rem;

    span {
      color: $event-color;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.scrollNav {

background: $black;

.navbar-brand {
  color: $primary-color;
  width: 15%;
  font-size: 3rem;

  span {
    color: $event-color;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}
}

.nav-link {

  color: $black;
}




.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: none;

  &::after {
    display: block;
  }
}

.nav-link {
  color: $primary-color;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  position: relative;
  z-index: 1;

  &:hover,
  &:focus {
    color: $event-color;
  }

  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: $primary-color;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }

  &:after,
  &:before {
    transition: all 0.5s;
  }

  &:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $primary-color;
}

.dropdown-menu {
  background: $transparent;
  border: none;

  .dropdown-item {
    color: $event-color;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
  }

  &:hover {
    color: $primary-color;
  }
}

.me-auto {
  margin-right: 0 !important;
}

.navbar-toggler {
  background-color: $event-color !important;
}

.navbar-toggler-icon {
  background-color: $primary-color;
}

.nav-link:hover {
  display: block;
}

.audio {


animation: mp3;
animation-duration: 10s;

}

@keyframes mp3 {

  from {
   transition: 0s;
  }
  
}