body {
  color: #fff;
  font-family: $extra-font;
  font-size: 20px;
  line-height: 1.5;
}

.navbar {
  background-color: $black !important;

  .navbar-brand {
    color: $primary-color;
    width: 15%;
    font-size: 3rem;

    span {
      color: $event-color;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: none;

  &::after {
    display: block;
  }
}

.nav-link {
  color: $primary-color;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  position: relative;
  z-index: 1;




  &:hover,
  &:focus {
    color: $event-color;

  }

  &:after {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: $primary-color;
    visibility: none;
    opacity: 0;
    z-index: -1;

  }

  &:after,
  &:before {

    transition: all .5s;

  }

  &:hover:after {

    opacity: 1;
    visibility: visible;
    height: 100%;
  }

}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $primary-color;
}


.dropdown-menu {

  background: $transparent;
  border: none;

  .dropdown-item {
    color: $event-color;
    font-size: 1.3rem;
    font-weight: 700;

  }

  &:hover {

    color: $primary-color;
  }
}




.me-auto {
  margin-right: 0 !important;
}

.navbar-toggler {
  background-color: $event-color !important;
}

.navbar-toggler-icon {
  background-color: $primary-color;
}

.nav-link:hover {
  display: block;
}