// ************* Media query **********

@include desktop {

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
                padding-left: 3.5rem;
                padding-right: 1.5rem;
            }
    
}

@include mobile-xs {

    .titleHome {
          font-size: 3rem!important;
        }
}








